/* Gogo Main Style 

Table of Contents

00.Variables and Imports
01.Base
02.Buttons
03.Widths-Spacing
04.Borders
05.Badges
06.Breadcrumb
07.Tabs
08.React Siema Carousel
09.Navbar
10.Menu
11.Apps
12.Chat App
13.Survey App
14.Todo App
15.Main
16.Cards
17.Dashboard
18.Calendar
19.Datatable
20.Alerts
21.Forms
22.Slider(Range)
23.Navs
24.Tooltip and popover
25.Progress
26.Rating
27.Sortable
28.Spinner
29.Croppper
30.Modal
31.Authorization
32.Html Editors
33.Icons
34.Floating Label
35.Loading
36.Context Menu
*/
/* 00.Variables and Imports */
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700");
/* 01.Base */
html {
  width: 100%;
  height: 100%;
  background: white;
}

:root {
  --theme-color-1: #3195a5;
  --theme-color-2: #3195a5;
  --theme-color-3: #3195a5;
  --theme-color-4: #3195a5;
  --theme-color-5: #3195a5;
  --theme-color-6: #3195a5;
  --theme-color-1-10: rgba(49, 149, 165, 0.1);
  --theme-color-2-10: rgba(49, 149, 165, 0.1);
  --theme-color-3-10: rgba(49, 149, 165, 0.1);
  --theme-color-4-10: rgba(49, 149, 165, 0.1);
  --theme-color-5-10: rgba(49, 149, 165, 0.1);
  --theme-color-6-10: rgba(49, 149, 165, 0.1);
  --primary-color: white;
  --foreground-color: #145388;
  --separator-color: #145388;
}

#root {
  height: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
  background: white;
}
body.background {
  height: 100%;
}
body.background main {
  margin: 0 !important;
  height: 100%;
}
body.background main .container {
  height: 100%;
}

.fixed-background {
  background: url("/assets/img/balloon.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1 {
  font-size: 1.75rem;
  padding-bottom: 10px;
  display: inline-block;
}
@media (max-width: 767px) {
  h1 {
    font-size: 1.3rem;
    padding-top: 0.5rem;
  }
}

h2 {
  font-size: 1.4rem;
}
@media (max-width: 767px) {
  h2 {
    font-size: 1.1rem;
  }
}

h3 {
  font-size: 1.3rem;
}
@media (max-width: 767px) {
  h3 {
    font-size: 1rem;
  }
}

h3 {
  font-size: 1.2rem;
}
@media (max-width: 767px) {
  h3 {
    font-size: 1rem;
  }
}

h4 {
  font-size: 1.15rem;
}
@media (max-width: 767px) {
  h4 {
    font-size: 0.9rem;
  }
}

h5 {
  font-size: 1.1rem;
}
@media (max-width: 767px) {
  h5 {
    font-size: 0.9rem;
  }
}

h6 {
  font-size: 1rem;
}
@media (max-width: 767px) {
  h6 {
    font-size: 0.85rem;
  }
}

hr {
  border-top: 1px solid #145388;
}

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::selection {
  background: #69c4d3;
}

::-moz-selection {
  background: #69c4d3;
}

.scrollbar-container {
  margin-right: -15px;
  padding-right: 15px;
  position: relative;
}

.ps__rail-y {
  width: 5px;
}

.ps__thumb-y {
  left: 0;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  width: 5px;
  left: 0;
}

.ps__thumb-y {
  background-color: #145388;
}

.video-play-icon {
  width: 100%;
  height: 100%;
  position: absolute;
}
.video-play-icon span {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  height: 1.25em;
  border-radius: 0.75em;
  line-height: 0.65em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.75em;
  width: 2em;
  text-align: center;
}
.video-play-icon span:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 12px;
  font-size: 0;
  border-color: transparent transparent transparent #3195a5;
}
.video-play-icon:hover span, .video-play-icon:active span {
  background: rgba(255, 255, 255, 0.85);
}

.logo-single {
  width: 110px;
  height: 35px;
  background: url("/assets/img/logo-small.png") no-repeat;
  background-position: center center;
  display: inline-block;
  margin-bottom: 60px;
}

.list-item-heading {
  font-size: 1rem;
}

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.no-transition {
  transition: none !important;
}

@media (max-width: 767px) {
  .display-1 {
    font-size: 2.8rem;
  }
}

@media (max-width: 767px) {
  .display-2 {
    font-size: 2.6rem;
  }
}

@media (max-width: 767px) {
  .display-3 {
    font-size: 2.4rem;
  }
}

@media (max-width: 767px) {
  .display-4 {
    font-size: 2.2rem;
  }
}

.lead {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2rem;
}
@media (max-width: 767px) {
  .lead {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}

a {
  color: white;
  transition: color 200ms;
}
a:hover, a:active {
  text-decoration: initial;
  color: #3195a5;
}

p {
  font-size: 0.85rem;
  line-height: 1.3rem;
  font-family: "Nunito", sans-serif;
}

.text-large {
  font-size: 1.9rem !important;
}

.text-one {
  font-size: 1rem !important;
}

.text-xlarge {
  font-size: 2.7rem !important;
}

.text-small {
  font-size: 0.76rem;
  line-height: 0.9rem;
}

.text-white {
  color: #3195a5 !important;
}

.text-extra-small {
  font-size: 0.6rem;
}

.text-default {
  color: white !important;
}

.text-muted {
  color: #145388 !important;
}

.text-semi-muted {
  color: #b69329 !important;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semibold {
  font-weight: 600;
}

.color-theme-1 {
  color: #3195a5;
}

.color-theme-2 {
  color: #3195a5;
}

.view-icon {
  font-size: 20px;
  color: #b69329;
}
.view-icon:hover {
  color: #3195a5;
}
.view-icon.s {
  font-size: 18px;
}

#displayOptions a {
  cursor: pointer;
}
#displayOptions a.active i {
  color: #3195a5;
}
#displayOptions button {
  border-color: #b69329;
  color: #b69329;
}
#displayOptions button:hover {
  background-color: #3195a5;
  border-color: #3195a5;
  color: #3195a5;
}
#displayOptions .btn-outline-dark:not(:disabled):not(.disabled):active,
#displayOptions .btn-outline-dark:not(:disabled):not(.disabled).active,
#displayOptions .show > .btn-outline-dark.dropdown-toggle {
  background-color: #3195a5;
  border-color: #3195a5;
  color: #3195a5;
}
#displayOptions .view-icon svg {
  width: 19px;
}
#displayOptions .view-icon .view-icon-svg {
  fill: #b69329;
}
#displayOptions .view-icon:hover .view-icon-svg, #displayOptions .view-icon.active .view-icon-svg {
  fill: #3195a5;
}

.text-theme-2 {
  color: #3195a5 !important;
}

.text-theme-3 {
  color: #3195a5 !important;
}

.text-primary,
.text-theme-1 {
  color: #3195a5 !important;
}

.text-secondary {
  color: white !important;
}

.main-heading {
  border-bottom: 1px solid #145388;
}

.separator {
  border-bottom: 1px solid #145388;
}

.alert-dismissible .close {
  padding: 0.5rem 1.25rem;
}

.rounded {
  border-radius: 50px !important;
}

.img-thumbnail {
  border-radius: 0.1rem;
  padding: 0;
  border: initial;
}

.list-thumbnail {
  border-radius: 0.1rem;
  padding: 0;
  border: initial;
  height: auto;
  max-width: unset;
  height: 85px;
  object-fit: cover;
  width: unset !important;
}
@media (max-width: 991px) {
  .list-thumbnail {
    height: 80px;
  }
}
@media (max-width: 575px) {
  .list-thumbnail {
    height: 70px;
  }
}
@media (max-width: 991px) {
  .list-thumbnail.responsive {
    width: unset;
    height: 136px;
  }
}
@media (max-width: 575px) {
  .list-thumbnail.responsive {
    width: 110px !important;
    height: 100%;
  }
}
@media (max-width: 419px) {
  .list-thumbnail.responsive {
    width: 90px !important;
    height: 100%;
  }
}
.list-thumbnail.small {
  height: 60px;
  font-size: 1rem;
}
@media (max-width: 991px) {
  .list-thumbnail.small {
    height: 55px;
  }
}
@media (max-width: 575px) {
  .list-thumbnail.small {
    height: 50px;
  }
}
.list-thumbnail.xsmall {
  height: 40px;
  font-size: 1rem;
}
@media (max-width: 991px) {
  .list-thumbnail.xsmall {
    height: 40px;
  }
}
@media (max-width: 575px) {
  .list-thumbnail.xsmall {
    height: 40px;
  }
}

.list-thumbnail-letters {
  width: 85px;
  height: 85px;
  background: #3195a5;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  color: #3195a5;
}
@media (max-width: 991px) {
  .list-thumbnail-letters {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 575px) {
  .list-thumbnail-letters {
    width: 70px;
    height: 70px;
  }
}
.list-thumbnail-letters.small {
  width: 60px;
  height: 60px;
  font-size: 1rem;
}
@media (max-width: 991px) {
  .list-thumbnail-letters.small {
    width: 55px;
    height: 55px;
  }
}
@media (max-width: 575px) {
  .list-thumbnail-letters.small {
    width: 50px;
    height: 50px;
  }
}

.white {
  color: #3195a5 !important;
}

/* 18.Calendar */
.big-calendar-header {
  margin-bottom: 1em;
}

.rbc-month-header {
  min-height: 50px;
}

.rbc-today {
  background: initial;
}

.calendar-prev-btn,
.calendar-next-btn {
  outline: initial !important;
  box-shadow: initial !important;
  border-radius: 40px !important;
  text-align: center;
  min-width: 30px;
  height: 30px;
  padding: 0.55rem 0;
  background: #3195a5;
  color: #145388;
  border: 1px solid #3195a5;
  line-height: 0.9 !important;
  font-size: 0.76rem;
  font-weight: normal !important;
}
.calendar-prev-btn span,
.calendar-next-btn span {
  line-height: 1 !important;
  font-size: 0.76rem;
  font-weight: normal !important;
}
.calendar-prev-btn:hover,
.calendar-next-btn:hover {
  background-color: transparent;
  border-color: #42b5c7;
  color: #3195a5;
}

.calendar-prev-btn {
  margin-right: 5px;
}

.calendar-today-btn {
  padding: 0.4em 1.3em !important;
  height: unset !important;
}

.rbc-month-row {
  min-height: 5em;
  z-index: 1;
}
@media (max-width: 575px) {
  .rbc-month-row {
    min-height: 3em;
  }
}

.rbc-month-view {
  border: initial;
}

.rbc-off-range-bg {
  background: initial;
}

.rbc-off-range {
  color: white;
  opacity: 0.3;
}

.rbc-day-bg + .rbc-day-bg,
.rbc-month-row + .rbc-month-row,
.rbc-header + .rbc-header,
.rbc-header {
  border-color: white !important;
}

.rbc-header {
  padding: 15px 5px;
  color: #3195a5;
}

.rbc-date-cell {
  padding: 10px;
}
.rbc-date-cell a {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  font-weight: initial;
  display: inline-block;
}

.rbc-date-cell.rbc-now a {
  background: #3195a5;
  color: #145388;
}

.rbc-event {
  font-size: 0.85em;
  border-radius: 25px;
  text-align: center;
  padding: 0px 5px;
  background: #3195a5;
}

.fc-basic-view .fc-body .fc-row {
  min-height: 6em;
}
@media (max-width: 575px) {
  .fc-basic-view .fc-body .fc-row {
    min-height: 3em;
  }
}

.fc-bootstrap4 .fc-day-top .fc-day-number {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}

.fc-bootstrap4 td.fc-today {
  background: initial;
}
.fc-bootstrap4 td.fc-today .fc-day-number {
  background: #3195a5;
  color: #3195a5;
}

.fc-day-grid-container {
  height: 100%;
  overflow: visible;
}

.fc-row .fc-content-skeleton td,
.fc-row .fc-helper-skeleton td {
  padding: 5px;
}

.fc-view,
.fc-view > table {
  border-top: initial;
}

.fc table {
  border: initial;
}

.fc .table-bordered thead th,
.fc .table-bordered thead td {
  border-top: initial;
  border-bottom: initial;
  border-left: initial;
}

.fc td:first-of-type,
.fc th:first-of-type {
  border-left: initial;
  border-bottom: initial;
}

.fc td:last-of-type,
.fc th:last-of-type {
  border-right: initial;
  border-bottom: initial;
}

.fc-body .fc-row:last-of-type td {
  border-bottom: initial;
}

.fc tbody > tr > td.fc-widget-content:first-of-type {
  border-left: initial;
  border-right: initial;
  border-bottom: initial;
}

.fc table,
.fc .table-bordered th,
.fc .table-bordered td {
  border-color: white !important;
}

.fc-day-header {
  color: #3195a5;
}
.fc-day-header span {
  padding: 10px;
  display: inline-block;
}

.fc-event {
  border: initial;
}

.fc-event,
.fc-event-dot {
  background-color: #3195a5;
  color: #3195a5 !important;
  padding: 1px 6px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
