@mixin prefix($declarations, $prefixes: ()) {
    @each $property, $value in $declarations {
      @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
      }
      #{$property}: $value;
    }
  }
  
  // Gives a card depth effect.
  // @param {Number} $depth - depth level (between 1 and 5)
  // @link http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality Google Design
  // @requires {function} top-shadow
  // @requires {function} bottom-shadow
  @mixin depth($depth) {
    @if $depth < 1 {
      box-shadow: none;
    } @else if $depth > 5 {
      @warn "Invalid $depth `#{$depth}` for mixin `card`.";
    } @else {
      box-shadow: bottom-shadow($depth), top-shadow($depth);
    }
  }
  
  // Computes a top-shadow for a card effect.
  // @param {Number} $depth - depth level
  // @return {List}
  
  @function top-shadow($depth) {
    $primary-offset: nth($shadowOffsetsTop, $depth) * 1px;
    $blur: nth($shadowBlursTop, $depth) * 4px;
    $color: rgba(black, nth($shadowOpacitiesTop, $depth));
  
    @return 0 $primary-offset $blur $color;
  }
  
  // Computes a bottom-shadow for a card effect.
  // @param {Number} $depth - depth level
  // @return {List}
  @function bottom-shadow($depth) {
    $primary-offset: nth($shadowOffsetsBottom, $depth) * 1px;
    $blur: nth($shadowBlursBottom, $depth) * 5px;
    $color: rgba(black, nth($shadowOpacitiesBottom, $depth));
    @return 0 $primary-offset $blur $color;
  }
  
  @mixin clearfix() {
    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }
  
  
  
  //Responsive Breakpoints
  
  $breakpoints: (
    xxs: 420px,
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px,
    xl: 1440px
  );
  
  @mixin respond-below($breakpoint) {
    // If the breakpoint exists in the map.
    @if map-has-key($breakpoints, $breakpoint) {
      // Get the breakpoint value.
      $breakpoint-value: map-get(
        $breakpoints,
        $breakpoint
      ); // Write the media query.
      @media (max-width: ($breakpoint-value - 1)) {
        @content;
      }
      // If the breakpoint doesn't exist in the map.
    } @else {
      // Log a warning.
      @warn "Invalid breakpoint: #{$breakpoint}.";
    }
  }
/* Gogo Main Style 

Table of Contents

00.Variables and Imports
01.Base
02.Buttons
03.Widths-Spacing
04.Borders
05.Badges
06.Breadcrumb
07.Tabs
08.React Siema Carousel
09.Navbar
10.Menu
11.Apps
12.Chat App
13.Survey App
14.Todo App
15.Main
16.Cards
17.Dashboard
18.Calendar
19.Datatable
20.Alerts
21.Forms
22.Slider(Range)
23.Navs
24.Tooltip and popover
25.Progress
26.Rating
27.Sortable
28.Spinner
29.Croppper
30.Modal
31.Authorization
32.Html Editors
33.Icons
34.Floating Label
35.Loading
36.Context Menu
*/

/* 00.Variables and Imports */
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700");

$main-menu-item-height: 110px;
$main-menu-width: 120px;
$main-menu-width-lg: 110px;
$main-menu-width-md: 100px;
$main-menu-width-xs: 90px;

$sub-menu-width: 230px;
$sub-menu-width-lg: 220px;
$sub-menu-width-md: 200px;
$sub-menu-width-xs: 190px;

$navbar-height: 120px;
$navbar-height-xs: 70px;
$navbar-height-md: 80px;
$navbar-height-lg: 90px;

$main-margin: 60px;
$main-margin-lg: 50px;
$main-margin-md: 40px;
$main-margin-xs: 15px;

$app-menu-width: 280px;

$main-menu-item-height-mobile: 90px;

$menu-collapse-time: 300ms;
$animation-time-long: 1000ms;
$animation-time-short: 200ms;

$border-radius: 0.1rem;

$theme-color-purple: #922c88;
$theme-color-blue: #145388;
$theme-color-green: #576a3d;
$theme-color-orange: #e2863b;
$theme-color-red: #880a1f;

$info-color: #3195a5;
$success-color: #3e884f;
$warning-color: #b69329;
$error-color: #c43d4b;
$background-color:white;
$theme-color-1:#3195a5;
$theme-color-2:#3195a5;
$theme-color-3:#3195a5;
$theme-color-4:#3195a5;
$theme-color-5:#3195a5;
$theme-color-6:#3195a5;
$primary-color:white;
$foreground-color:#145388;
$separator-color: #145388;
$logoPath: "/assets/img/logo-small.png";
$button-text-color: #3195a5;
$muted-color: #145388;
$secondary-color:#b69329;
$separator-color-light: white;

/* 01.Base */
html {
  width: 100%;
  height: 100%;
  background: $background-color;
}

:root {
  --theme-color-1: #{$theme-color-1};
  --theme-color-2: #{$theme-color-2};
  --theme-color-3: #{$theme-color-3};
  --theme-color-4: #{$theme-color-4};
  --theme-color-5: #{$theme-color-5};
  --theme-color-6: #{$theme-color-6};
  --theme-color-1-10: #{rgba($theme-color-1, 0.1)};
  --theme-color-2-10: #{rgba($theme-color-2, 0.1)};
  --theme-color-3-10: #{rgba($theme-color-3, 0.1)};
  --theme-color-4-10: #{rgba($theme-color-4, 0.1)};
  --theme-color-5-10: #{rgba($theme-color-5, 0.1)};
  --theme-color-6-10: #{rgba($theme-color-6, 0.1)};

  --primary-color: #{$primary-color};
  --foreground-color: #{$foreground-color};
  --separator-color: #{$separator-color};
}

#root {
  height: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: $primary-color;
  background: $background-color;

  &.background {
    height: 100%;

    main {
      margin: 0 !important;
      height: 100%;

      .container {
        height: 100%;
      }
    }
  }
}

.fixed-background {
  background: url("/assets/img/balloon.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1 {
  font-size: 1.75rem;
  padding-bottom: 10px;
  display: inline-block;

  @include respond-below(sm) {
    font-size: 1.3rem;
    padding-top: 0.5rem;
  }
}

h2 {
  font-size: 1.4rem;

  @include respond-below(sm) {
    font-size: 1.1rem;
  }
}

h3 {
  font-size: 1.3rem;

  @include respond-below(sm) {
    font-size: 1rem;
  }
}

h3 {
  font-size: 1.2rem;

  @include respond-below(sm) {
    font-size: 1rem;
  }
}

h4 {
  font-size: 1.15rem;

  @include respond-below(sm) {
    font-size: 0.9rem;
  }
}

h5 {
  font-size: 1.1rem;

  @include respond-below(sm) {
    font-size: 0.9rem;
  }
}

h6 {
  font-size: 1rem;

  @include respond-below(sm) {
    font-size: 0.85rem;
  }
}

hr {
  border-top: 1px solid $separator-color;
}

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::selection {
  background: lighten($theme-color-3, 20%);
}

::-moz-selection {
  background: lighten($theme-color-3, 20%);
}

.scrollbar-container {
  margin-right: -15px;
  padding-right: 15px;
  position: relative;
}

.ps__rail-y {
  width: 5px;
}

.ps__thumb-y {
  left: 0;
}

.ps__rail-y:hover>.ps__thumb-y,
.ps__rail-y:focus>.ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  width: 5px;
  left: 0;
}

.ps__thumb-y {
  background-color: $separator-color;
}

.video-play-icon {
  width: 100%;
  height: 100%;
  position: absolute;

  span {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    height: 1.25em;
    border-radius: .75em;
    line-height: 0.65em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.75em;
    width: 2em;
    text-align: center;

    &:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 0 8px 12px;
      font-size: 0;
      border-color: transparent transparent transparent $theme-color-1;
    }
  }

  &:hover,
  &:active {
    span {
      background: rgba(255, 255, 255, 0.85);
    }
  }
}

.logo-single {
  width: 110px;
  height: 35px;
  background: url($logoPath) no-repeat;
  background-position: center center;
  display: inline-block;
  margin-bottom: 60px;
}

.list-item-heading {
  font-size: 1rem;
}

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.no-transition {
  transition: none !important;
}

.display-1 {
  @include respond-below(sm) {
    font-size: 2.8rem;
  }
}

.display-2 {
  @include respond-below(sm) {
    font-size: 2.6rem;
  }
}

.display-3 {
  @include respond-below(sm) {
    font-size: 2.4rem;
  }
}

.display-4 {
  @include respond-below(sm) {
    font-size: 2.2rem;
  }
}

.lead {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2rem;

  @include respond-below(sm) {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}

a {
  color: $primary-color;
  transition: color $animation-time-short;

  &:hover,
  &:active {
    text-decoration: initial;
    color: $theme-color-1;
  }
}

p {
  font-size: 0.85rem;
  line-height: 1.3rem;
  font-family: "Nunito", sans-serif;
}

.text-large {
  font-size: 1.9rem !important;
}

.text-one {
  font-size: 1rem !important;
}

.text-xlarge {
  font-size: 2.7rem !important;
}


.text-small {
  font-size: 0.76rem;
  line-height: 0.9rem;
}

.text-white {
  color: $button-text-color !important;
}

.text-extra-small {
  font-size: 0.6rem;
}

.text-default {
  color: $primary-color !important;
}

.text-muted {
  color: $muted-color !important;
}

.text-semi-muted {
  color: $secondary-color !important;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semibold {
  font-weight: 600;
}

.color-theme-1 {
  color: $theme-color-1;
}

.color-theme-2 {
  color: $theme-color-2;
}

.view-icon {
  font-size: 20px;
  color: $secondary-color;

  &:hover {
    color: $theme-color-1;
  }

  &.s {
    font-size: 18px;
  }
}

#displayOptions {
  a {
    cursor: pointer;
  }

  a.active i {
    color: $theme-color-1;
  }

  button {
    border-color: $secondary-color;
    color: $secondary-color;

    &:hover {
      background-color: $theme-color-1;
      border-color: $theme-color-1;
      color: $button-text-color;
    }
  }

  .btn-outline-dark:not(:disabled):not(.disabled):active,
  .btn-outline-dark:not(:disabled):not(.disabled).active,
  .show>.btn-outline-dark.dropdown-toggle {
    background-color: $theme-color-1;
    border-color: $theme-color-1;
    color: $button-text-color;
  }



  .view-icon {
    svg {
      width: 19px;
    }

    .view-icon-svg {
      fill: $secondary-color;
    }

    &:hover,
    &.active {
      .view-icon-svg {
        fill: $theme-color-1;
      }
    }
  }

}

.text-theme-2 {
  color: $theme-color-2 !important;
}

.text-theme-3 {
  color: $theme-color-3 !important;
}

.text-primary,
.text-theme-1 {
  color: $theme-color-1 !important;
}

.text-secondary {
  color: $primary-color !important;
}

.main-heading {
  border-bottom: 1px solid $separator-color;
}

.separator {
  border-bottom: 1px solid $separator-color;
}

.alert-dismissible .close {
  padding: 0.5rem 1.25rem;
}

.rounded {
  border-radius: 50px !important;
}

.img-thumbnail {
  border-radius: $border-radius;
  padding: 0;
  border: initial;
}

.list-thumbnail {
  border-radius: $border-radius;
  padding: 0;
  border: initial;
  height: auto;
  max-width: unset;
  height: 85px;
  object-fit: cover;
  width: unset !important;

  @include respond-below(md) {
    height: 80px;
  }

  @include respond-below(xs) {
    height: 70px;
  }

  &.responsive {
    @include respond-below(md) {
      width: unset;
      height: 136px;
    }

    @include respond-below(xs) {
      width: 110px !important;
      height: 100%;
    }

    @include respond-below(xxs) {
      width: 90px !important;
      height: 100%;
    }
  }

  &.small {
    height: 60px;
    font-size: 1rem;

    @include respond-below(md) {
      height: 55px;
    }

    @include respond-below(xs) {
      height: 50px;
    }
  }

  &.xsmall {
    height: 40px;
    font-size: 1rem;

    @include respond-below(md) {
      height: 40px;
    }

    @include respond-below(xs) {
      height: 40px;
    }
  }
}

.list-thumbnail-letters {
  width: 85px;
  height: 85px;
  background: $theme-color-1;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  color: $button-text-color;

  @include respond-below(md) {
    width: 80px;
    height: 80px;
  }

  @include respond-below(xs) {
    width: 70px;
    height: 70px;
  }

  &.small {
    width: 60px;
    height: 60px;
    font-size: 1rem;

    @include respond-below(md) {
      width: 55px;
      height: 55px;
    }

    @include respond-below(xs) {
      width: 50px;
      height: 50px;
    }
  }
}

.white {
  color: $button-text-color !important;
}



//Responsive Breakpoints

$breakpoints: (
xxs: 420px,
xs: 576px,
sm: 768px,
md: 992px,
lg: 1200px,
xl: 1440px
);

@mixin respond-below($breakpoint) {
// If the breakpoint exists in the map.
@if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get(
    $breakpoints,
    $breakpoint
    ); // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
    @content;
    }
    // If the breakpoint doesn't exist in the map.
} @else {
    // Log a warning.
    @warn "Invalid breakpoint: #{$breakpoint}.";
}
}








































































































































/* 18.Calendar */
.big-calendar-header {
margin-bottom: 1em;
}

.rbc-month-header {
min-height: 50px;
}

.rbc-today {
background: initial;
}

.calendar-prev-btn,
.calendar-next-btn {
outline: initial !important;
box-shadow: initial !important;
border-radius: 40px !important;
text-align: center;
min-width: 30px;
height: 30px;
padding: 0.55rem 0;
background: $theme-color-1;
color: $foreground-color;
border: 1px solid $theme-color-1;
line-height: 0.9 !important;
font-size: 0.76rem;
font-weight: normal !important;

span {
line-height: 1 !important;
font-size: 0.76rem;
font-weight: normal !important;
}

&:hover {
background-color: transparent;
border-color: lighten($theme-color-1, 10%);
color: $theme-color-1;
}
}

.calendar-prev-btn {
margin-right: 5px;
}

.calendar-today-btn {
padding: 0.4em 1.3em !important;
height: unset !important;
}

.rbc-month-row {
min-height: 5em;
z-index: 1;

@include respond-below(xs) {
min-height: 3em;
}
}

.rbc-month-view {
border: initial;
}

.rbc-off-range-bg {
background: initial;
}

.rbc-off-range {
color: $primary-color;
opacity: 0.3;
}

.rbc-day-bg+.rbc-day-bg,
.rbc-month-row+.rbc-month-row,
.rbc-header+.rbc-header,
.rbc-header {
border-color: $separator-color-light !important;
}

.rbc-header {
padding: 15px 5px;
color: $theme-color-1;
}

.rbc-date-cell {
padding: 10px;

a {
border-radius: 50%;
width: 28px;
height: 28px;
text-align: center;
vertical-align: middle;
padding: 5px;
font-weight: initial;
display: inline-block;
}
}

.rbc-date-cell.rbc-now a {
background: $theme-color-1;
color: $foreground-color;
}

.rbc-event {
font-size: 0.85em;
border-radius: 25px;
text-align: center;
padding: 0px 5px;
background: $theme-color-2;
}

.fc-basic-view .fc-body .fc-row {
min-height: 6em;

@include respond-below(xs) {
min-height: 3em;
}
}

.fc-bootstrap4 .fc-day-top .fc-day-number {
border-radius: 50%;
width: 18px;
height: 18px;
text-align: center;
vertical-align: middle;
padding: 5px;
}

.fc-bootstrap4 td.fc-today {
background: initial;

.fc-day-number {
background: $theme-color-1;
color: $button-text-color;
}
}

.fc-day-grid-container {
height: 100%;
overflow: visible;
}

.fc-row .fc-content-skeleton td,
.fc-row .fc-helper-skeleton td {
padding: 5px;
}

.fc-view,
.fc-view>table {
border-top: initial;
}

.fc table {
border: initial;
}

.fc .table-bordered thead th,
.fc .table-bordered thead td {
border-top: initial;
border-bottom: initial;
border-left: initial;
}

.fc td:first-of-type,
.fc th:first-of-type {
border-left: initial;
border-bottom: initial;
}

.fc td:last-of-type,
.fc th:last-of-type {
border-right: initial;
border-bottom: initial;
}

.fc-body .fc-row:last-of-type td {
border-bottom: initial;
}

.fc tbody>tr>td.fc-widget-content:first-of-type {
border-left: initial;
border-right: initial;
border-bottom: initial;
}

.fc table,
.fc .table-bordered th,
.fc .table-bordered td {
border-color: $separator-color-light !important;
}

.fc-day-header {
color: $theme-color-1;

span {
padding: 10px;
display: inline-block;
}
}

.fc-event {
border: initial;
}

.fc-event,
.fc-event-dot {
background-color: $theme-color-2;
color: $button-text-color !important;
padding: 1px 6px;
border-radius: 10px;
cursor: pointer;
text-align: center;
}
